<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="header">
    <title>Подтверждение</title>
    </th:block>
</head>
<body>

<div class="container card br-pagebody" th:fragment="body">

    <div th:if="${result == 1}">
        <div th:replace="fragment/page-content::pageTitle
            (title='Успех!',description=${resultString},iconClass='ion-checkmark-round') ">
        </div>
    </div>

    <div th:if="${result == 0}">
        <div th:replace="fragment/page-content::pageTitle
                (title='Операция не удалась!',description=${resultString},iconClass='ion-ios-close-outline') ">
        </div>
    </div>
    <p></p>


</div>


</body>
</html>

