<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="header">

        <script th:src="@{/js/main.js}" type="text/javascript"></script>
        <script th:src="@{/js/regboard.js}" type="text/javascript"></script>
        <script id="flatTemplate" type="text/x-jrender">
        <div class="gk-flat-chooser">
                <div class="gk-select-house form-group row">
                    <label class="col-sm-4 col-form-label">Номер Дома (почтовый номер, где 3 - колодец)</label>
                    <div class="col-sm-6">
                        <select class="custom-select" required id="flats{{:num}}.housingNumber" name="flats[{{:num}}].housingNumber">
                        </select>
                    </div>
                </div>
                <div>
                    <div class="gk-select-porch form-group row">
                        <label class="col-sm-4 col-form-label">Номер Подъезда</label>
                        <div class="col-sm-6">
                            <select class="custom-select" required="" id="flats{{:num}}.porchNumber" name="flats[{{:num}}].porchNumber">
                            <option>Сначала выбери номер дома</option></select>
                        </div>
                    </div>
                </div>
                <div class="div_show_flat"></div>
                <div class="gk-reg-floor-number form-group row">
                    <label class="col-sm-4 col-form-label">Номер Этажа</label>
                    <div class="col-sm-4"><input class="form-control" readonly="readonly" id="flats{{:num}}.floorNumber" name="flats[{{:num}}].floorNumber" value="">

                    </div>
                </div>
                <div class="gk-reg-flat-number form-group row">
                    <label class="col-sm-4 col-form-label">Номер Квартиры</label>
                    <div class="col-sm-4">
                        <input class="form-control" readonly="readonly" id="flats{{:num}}.flatNumber" name="flats[{{:num}}].flatNumber" value="">

                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-4 col-form-label">Число комнат в квартире</label>
                    <div class="col-sm-6"><select class="custom-select" id="flats{{:num}}.roomCount" name="flats[{{:num}}].roomCount">
                        <option value="1">1 комната</option>
                        <option value="2">2 комнаты</option>
                        <option value="3">3 комнаты</option>
                        <option value="4">4 комнаты</option>
                    </select>

                    </div>
                </div>
            </div>


        </script>
        <title>Регистрация нового пользователя</title>
    </th:block>
</head>
<body>
<div class="card br-pagebody container" th:fragment="main">


    <div th:replace="fragment/page-content::pageTitle
    (title='Полная регистрация',description='для новых пользователей',iconClass='ion-ios-compose') ">
    </div>


    <div class="gk-reg-conteiner gk-form-container">
        <form th:action=" @{'/userRegister'}" th:object="${systemUser}" method="post">
            <div th:if="${registrationError != null}" class="form-group">
                <div class="col-xs-6">
                    <div class="alert alert-danger col-xs-offset-1 col-xs-10" th:text="${registrationError}"></div>
                </div>
            </div>
            <div class="form-group row"><label class="col-sm-4 col-form-label">Адрес электронной почты</label>
                <div class="col-sm-5"><input class="form-control" required th:field="*{email}" type="email">
                    <div class="gk-error" th:errors="*{email}"></div>
                </div>
            </div>

            <div class="form-group row"><label class="col-sm-4 col-form-label">Пароль</label>
                <div class="col-sm-5"><input class="form-control" th:field="*{password}" type="password"
                                             placeholder="Very stRong paSS" required>
                    <div class="gk-error" th:errors="*{password}"></div>
                </div>
            </div>

            <div class="form-group row"><label class="col-sm-4 col-form-label">Повтор пароля</label>
                <div class="col-sm-5"><input class="form-control" th:field="*{matchingPassword}" type="password"
                                             placeholder="Very stRong paSS" required>
                    <div class="gk-error" th:errors="*{matchingPassword}"></div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:for="phoneNumber">Номер телефона </label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+7</span>
                        </div>
                        <input class="form-control" placeholder="9151234567" required th:field="*{phoneNumber}">
                        <div class="gk-error" th:errors="*{phoneNumber}"
                             th:if="${#fields.hasErrors('phoneNumber')}"></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:for="lastName">Фамилия</label>
                <div class="col-sm-5">
                    <input class="form-control" placeholder="Иванов" required th:field="*{lastName}">
                    <div class="gk-error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:for="firstName">Имя</label>
                <div class="col-sm-5">
                    <input class="form-control" placeholder="Иван" required th:field="*{firstName}">
                    <div class="gk-error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label" th:for="middleName">Отчество</label>
                <div class="col-sm-5">
                    <input class="form-control" th:field="*{middleName}" placeholder="Иванович">
                    <div class="gk-error" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
                </div>
            </div>
            <div id="gk-reg-flats">

                <div class="gk-flat-chooser" th:each="flat, flatStat : *{flats}">
                    <div class="gk-select-house form-group row">
                        <label class="col-sm-4 col-form-label">Номер Дома (почтовый номер, где 3 - колодец)</label>
                        <div class="col-sm-6">
                            <select class="custom-select" required
                                    th:field="*{flats[__${flatStat.index}__].housingNumber}">
                                <option multiple="false" value="-3">Выбирай</option>
                                <option multiple="false" th:each="item: ${housingList}" th:text="${item}"
                                        th:value="${item}">
                                    Пункт 1
                                </option>
                            </select>
                            <div class="gk-error" th:errors="*{flats[__${flatStat.index}__].housingNumber}"></div>
                        </div>
                    </div>
                    <div>
                        <div class="gk-select-porch form-group row">
                            <label class="col-sm-4 col-form-label">Номер Подъезда</label>
                            <div class="col-sm-6">
                                <select class="custom-select" th:field="*{flats[__${flatStat.index}__].porchNumber}"
                                        required>
                                    <option multiple="false" value="-3">Сначала выбери номер дома</option>
                                    <span th:if="${flat.housingNumber!=null}"><option multiple="false"
                                                                                      th:each="item: ${houseService.getHousingPorchNumbers(flat.housingNumber)}"
                                                                                      th:text="${item}"
                                                                                      th:value="${item}">Пункт
                                     1
                                 </option></span>
                                </select>
                                <div class="gk-error" th:errors="*{flats[__${flatStat.index}__].porchNumber}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="div_show_flat"></div>
                    <div class="gk-reg-floor-number form-group row">
                        <label class="col-sm-4 col-form-label">Номер Этажа</label>
                        <div class="col-sm-4"><input class="form-control" readonly="readonly"
                                                     th:field="*{flats[__${flatStat.index}__].floorNumber}">
                            <div class="gk-error" th:errors="*{flats[__${flatStat.index}__].floorNumber}"></div>
                        </div>
                    </div>
                    <div class="gk-reg-flat-number form-group row">
                        <label class="col-sm-4 col-form-label">Номер Квартиры</label>
                        <div class="col-sm-4">
                            <input class="form-control"
                                   readonly="readonly"
                                   th:field="*{flats[__${flatStat.index}__].flatNumber}">
                            <div class="gk-error" th:errors="*{flats[__${flatStat.index}__].flatNumber}"></div>
                        </div>
                    </div>
                    <div class="form-group row"><label class="col-sm-4 col-form-label">Число комнат в квартире</label>
                        <div class="col-sm-6"><select class="custom-select"
                                                      th:field="*{flats[__${flatStat.index}__].roomCount}">
                            <option value="1">1 комната</option>
                            <option value="2">2 комнаты</option>
                            <option value="3">3 комнаты</option>
                            <option value="4">4 комнаты</option>
                        </select>
                            <div class="gk-error" th:errors="*{flats[__${flatStat.index}__].roomCount}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gk-button-group">
                <button class="btn btn-success" id="add-flat" type="button"> Добавить квартиру</button>
                <button class="btn btn-danger" id="del-flat" type="button">Удалить квартиру</button>
            </div>

            <!--  <div class="form-group row"><label class="col-form-label col-sm-2">Ваш статус</label>
                  <div class="col-sm-3"><select class="custom-select" th:field="*{contactType.uuid}">
                      <option th:each="type : ${userTypes}" th:value="${type.uuid}" th:text="${type.description}"></option>
                  </select></div>
              </div>
  -->
            <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <div class="form-check"><input class="form-check-input" type="checkbox"
                                                   required th:field="*{allowContactsSharing}" value="true">
                        <label class="form-check-label" th:for="allowContactsSharing1">Я даю согласие на хранение и
обработку моих персональных данных</label></div>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <button class="btn btn-primary" type="submit">Новый пользователь</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>