<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-sm-flex align-items-center pd-t-15 pd-sm-t-25 pd-x-20 pd-sm-x-30 "
     th:fragment="pageTitle (title, description,iconClass)">
    <i th:class="'icon '+${iconClass}+' tx-70 lh-0 tx-info-800'"></i>
    <div class="pd-sm-l-20">
        <h1 class="tx-gray-800 mg-b-5 card-title" th:text="${title}">Полная регистрация </h1>
        <p class="mg-b-0" th:text="${description}">для новых пользователей</p>
    </div>
</div><!-- d-flex -->

</body>
</html>