<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Start Left Panel -->


<div class="br-sideleft overflow-y-auto" th:fragment="left">


    <label class="sidebar-label pd-x-15 mg-t-20" th:text="#{page.navigationMenu.titleText}">Навигация</label>
    <div class="br-sideleft-menu">
        <a class="br-menu-link" th:href="@{/document/oss4}">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-alert-circled tx-20"></i>
                <span class="menu-item-label" th:text="#{page.navigationMenu.docs}">Документы</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav ">
            <li class="nav-item"><a class="nav-link" th:href="@{/document/oss9}"
                                    th:text="#{page.navigationMenu.docs.oss9}">иск ОСС9</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/heat}"
                                    th:text="#{page.navigationMenu.docs.heat}">Иск по отоплению</a></li>


            <li class="nav-item"><a class="nav-link" th:href="@{/document/oss8}"
                                    th:text="#{page.navigationMenu.docs.oss8}">документы ОСС8</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/oss4}"
                                    th:text="#{page.navigationMenu.docs.oss4}">документы ОСС4</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/sd1}"
                                    th:text="#{page.navigationMenu.docs.sd1}">совет 1</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/sd2}"
                                    th:text="#{page.navigationMenu.docs.sd2}">совет 2</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/sd3}"
                                    th:text="#{page.navigationMenu.docs.sd3}">совет 3</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/faq}"
                                    th:text="#{page.navigationMenu.docs.faq}">Вопросы - Ответы</a></li>
        </ul>
        <a class="br-menu-link" th:href="@{/document/oss4}">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-android-bookmark tx-20"></i>
                <span class="menu-item-label" th:text="#{page.navigationMenu.article}">Статьи</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav ">
            <li class="nav-item"><a class="nav-link" th:href="@{/document/pikabu}"
                                    th:text="#{page.navigationMenu.article.pikabu}">История смены УК</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/document/evrogorod}"
                                    th:text="#{page.navigationMenu.article.eurogorod}">Почему надо менять УК?</a></li>

        </ul>

        <a class="br-menu-link" th:href="@{/document/information}">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-help tx-20"></i>
                <span class="menu-item-label"
                      th:text="#{page.navigationMenu.docs.information}">Полезная информация</span>

            </div><!-- menu-item -->
        </a><!-- br-menu-link -->

    </div>
        <div sec:authorize="isAuthenticated()">
            <a class="br-menu-link" th:href="@{/user/profile}">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-information tx-20"></i>
                    <span class="menu-item-label" th:text="#{page.navigationMenu.personalArea}">Личный кабинет</span>

                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

            <a class="br-menu-link" th:href="@{/questionnaire}">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-help tx-20"></i>
                    <span class="menu-item-label" th:text="#{page.navigationMenu.questionnaire}">Опросы</span>

                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

            <a class="br-menu-link" th:href="@{/logout}">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-power tx-20"></i>
                    <span class="menu-item-label" th:text="#{page.navigationMenu.logout}">Выход</span>

                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
        </div>

        <div sec:authorize="hasAuthority('admin')">
            <a class="br-menu-link" href="#">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-settings tx-20"></i>
                    <span class="menu-item-label"
                          th:text="#{page.navigationMenu.houseConfigurator}">Конфигурация домов</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/showHouse/1}"
                                        th:text="#{page.navigationMenu.houseConfigurator.house_1}">Дом 1</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/showHouse/2}"
                                        th:text="#{page.navigationMenu.houseConfigurator.house_2}">Дом 2</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/showHouse/3}"
                                        th:text="#{page.navigationMenu.houseConfigurator.house_3}">Дом 3</a></li>
            </ul>
            <a class="br-menu-link" href="#">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-hammer tx-20"></i>
                    <span class="menu-item-label" th:text="#{page.navigationMenu.forTesting}">Для тестирования</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/rest/test}"
                                        th:text="#{page.navigationMenu.forTesting.createQuestionnaire}">Сгенерить опрос
                    для теста</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/test/uuidGenerator}"
                                        th:text="#{page.navigationMenu.forTesting.generateUUID}">Сгенерить uuid</a></li>

            </ul>


        </div>

        <div sec:authorize="isAnonymous()">

            <a class="br-menu-link" href="#">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-ios-compose tx-20"></i>
                    <span class="menu-item-label" th:text="#{page.navigationMenu.registration}">Регистрация</span>
                    <i class="menu-item-arrow fa fa-angle-down"></i>
                </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/reg}"
                                        th:text="#{page.navigationMenu.registration.newUser}">Новый пользователь</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/reg?fast=true}"
                                        th:text="#{page.navigationMenu.registration.questionnaireUser}">Участвовал в
                    опросе</a></li>
            </ul>

            <a class="br-menu-link" href="\login">
                <div class="br-menu-item">
                    <i class="menu-item-icon icon ion-android-contact tx-20"></i>
                    <span class="menu-item-label" th:text="#{page.navigationMenu.login}">Войти</span>

                </div><!-- menu-item -->
            </a><!-- br-menu-link -->

        </div>


    </div><!-- br-sideleft-menu -->
</div><!-- br-sideleft -->
<!-- end Left Panel -->

<!-- Start Header Panel -->
<div class="br-header" th:fragment="top">
    <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a href="" id="btnLeftMenu"><i class="icon ion-navicon-round"></i></a>
        </div>
        <div class="navicon-left hidden-lg-up"><a href="" id="btnLeftMenuMobile"><i class="icon ion-navicon-round"></i></a>
        </div>
        <!--<div class="input-group hidden-xs-down wd-170 transition">
            <input id="searchbox" type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
        </span>
        </div>
        -->
        <!-- input-group -->
        <div class="br-logo"><a th:href="@{/}"><span>[</span>[[#{page.siteTitle}]]<span>]</span></a>
        </div>
    </div><!-- br-header-left -->
    <div sec:authorize="isAuthenticated()">
        <div class="br-header-right">
            <nav class="nav">
                <div class="dropdown">
                    <a class="nav-link pd-x-7 pos-relative" data-toggle="dropdown" href="">
                        <i class="icon ion-ios-email-outline tx-24"></i>
                        <!-- start: if statement -->
                        <!--<span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>-->
                        <!-- end: if statement -->
                    </a>

                </div><!-- dropdown -->
                <div class="dropdown">
                    <a class="nav-link pd-x-7 pos-relative" data-toggle="dropdown" href="">
                        <i class="icon ion-ios-bell-outline tx-24"></i>
                        <!-- start: if statement -->
                        <!--         <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>-->
                        <!-- end: if statement -->
                    </a>

                </div><!-- dropdown -->
                <div class="dropdown">
                    <a class="nav-link nav-link-profile" data-toggle="dropdown" href="">
                        <span class="logged-name hidden-md-down"
                              sec:authentication="principal.username">Katherine</span>

                        <img alt="" class="wd-32 rounded-circle" src="https://via.placeholder.com/500">
                        <span class="square-10 bg-success"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-header wd-250">
                        <div class="tx-center">
                            <a href=""><img alt="" class="wd-80 rounded-circle"
                                            src="https://via.placeholder.com/500"></a>
                            <h6 class="logged-fullname">Katherine P. Lumaad</h6>
                            <p>youremail@domain.com</p>
                        </div>
                        <hr>
                        <div class="tx-center">
                            <span class="profile-earning-label">Earnings After Taxes</span>
                            <h3 class="profile-earning-amount">$13,230 <i
                                    class="icon ion-ios-arrow-thin-up tx-success"></i></h3>
                            <span class="profile-earning-text">Based on list price.</span>
                        </div>
                        <hr>
                        <ul class="list-unstyled user-profile-nav">
                            <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
                            <li><a href=""><i class="icon ion-ios-gear"></i> Settings</a></li>
                            <li><a href=""><i class="icon ion-ios-download"></i> Downloads</a></li>
                            <li><a href=""><i class="icon ion-ios-star"></i> Favorites</a></li>
                            <li><a href=""><i class="icon ion-ios-folder"></i> Collections</a></li>
                            <li><a href=""><i class="icon ion-power"></i> Sign Out</a></li>
                        </ul>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </nav>

        </div>
    </div>
</div><!-- br-header -->
<!-- End Header Panel -->


<!-- Start Footer Panel -->
<div class="" th:fragment="bottom">

    <footer class="br-footer ">

        <div class="mg-b-2 col-sm-auto">
            <!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=55880971&amp;from=informer"
               rel="nofollow" target="_blank"><img alt="Яндекс.Метрика"
                                                   class="ym-advanced-informer" data-cid="55880971" data-lang="ru"
                                                   src="https://informer.yandex.ru/informer/55880971/3_0_FFFFFFFF_EFEFEFFF_0_uniques"
                                                   style="width:88px; height:31px; border:0;"
                                                   title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"/></a>
            <!-- /Yandex.Metrika informer -->
        </div>
        <div class="mg-b-2 col-xl-6" th:text="#{page.footer.copyright}">&copy; 2019-2021 ИГ & СД ЖК Город. All Rights
            Reserved.
        </div>

        </div>
        <div class="footer-right d-flex align-items-center">

        </div>
    </footer>
</div>
<!-- End Footer Panel -->

</body>
</html>