<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<!--<h2 th:text="#{mail.page.authentication.head}"/>-->
<h2 th:text="${toFIO}+' Вам письмо от соседа из ЖК Город!'">Вам письмо, ЖК Город </h2>
<p><span>Здравствуйте,  </span><span th:text="${toFIO} + '!'"/></p>
<br>
<p><span> Ваш сосед из ЖК Город - </span> <span th:text="${fromFIO}">FIO</span>, написал письмо с сайта.</p>
<p></p>
<p>Обратите внимание, что Ваш сосед не имеет Ваших контактных данных!!!!<br>
    Если Вы захотите ему ответить,то используйте ниже контакты отправителя для связи с ним.
    <br>Не отвечайте на это письмо!</p>
<br>
============== Текст сообщения =================
<br>
<p th:utext="${messageText}"></p>
<br>
============== Конец сообщения =================
<br>
<p>Используйте вот эти контакты для связи с автором письма:</p>
<p></p>
<p th:utext="${fromContact}"></p>

<br><br>
<p> Если письмо содержит рекламу или несёт некорректное содержание или автор навязчив, то сообщите на почту
    admin@d107a.ru </p>

<p></p>
<p>С Уважением, инициативная группа ЖК Город</p>


</body>
</html>

