<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="header">
    <link type="text/css" rel="stylesheet" th:href="@{/css/lk-show-flats.css}"/>
    <title th:text="#{page.siteTitle}+'.'+#{page.lk.scheme.title}">Личный кабинет - Шахматка</title>
    </th:block>
</head>
<body>
<div class="br-pagebody card" th:fragment="body">

    <div th:replace="fragment/page-content::pageTitle
        (title=#{page.lk.scheme.welcome},
        description=#{page.lk.scheme.welcomeDescription},
        iconClass='icon ion-ios-wineglass')">
    </div>

    <div class="ht-md-60 pd-x-20 bg-dark rounded d-flex align-items-center justify-content-center mg-t-20">
        <ul class="nav nav-outline nav-outline-for-dark active-info align-items-center flex-column flex-md-row"
            role="tablist">
            <li class="nav-item"><a aria-selected="true" class="nav-link" role="tab"
                                    th:href="@{/user/profile}" th:text="#{page.lk.submenu.home}">Home</a></li>

            <li class="nav-item"><a aria-selected="false" class="nav-link" role="tab"
                                    th:href="@{/lk/questionnaire-answer-result}" th:text="#{page.lk.submenu.question}">Результаты
                Ваших голосований</a></li>

            <li class="nav-item"><a aria-selected="true" class="nav-link active show"
                                    role="tab" th:href="@{/lk/show-flats}"
                                    th:text="#{page.lk.submenu.scheme}">Шахматка</a></li>

            <li class="nav-item"><a aria-selected="false" class="nav-link" role="tab"
                                    th:href="@{/lk/neighbors-message}"
                                    th:text="#{page.lk.submenu.message-to-neighbors}">Соседи</a></li>
        </ul>
    </div>

    <br>

    <div class="porches">
        <div th:each="porch : ${porches}">
            <div th:insert="~{scheme/porch-form::porch-view}"></div>
        </div>
    </div>

    <br>

</div>

</body>
</html>