<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <title th:text="#{page.siteTitle}+'.'+#{page.lk.title}">Личный кабинет</title>
</header>
<body>
<div class="br-pagebody card" th:fragment="main">

    <div th:replace="fragment/page-content::pageTitle
    (title=#{page.lk.welcome},description=#{page.lk.welcomeDescription},iconClass='icon ion-ios-wineglass') ">
    </div>

    <div class="ht-md-60 pd-x-20 bg-dark rounded d-flex align-items-center justify-content-center mg-t-20">
        <ul class="nav nav-outline nav-outline-for-dark active-info align-items-center flex-column flex-md-row"
            role="tablist">
            <li class="nav-item"><a aria-selected="true" class="nav-link active show" data-toggle="tab" role="tab"
                                    th:href="@{/user/profile}" th:text="#{page.lk.submenu.home}">Home</a></li>

            <li class="nav-item"><a aria-selected="false" class="nav-link" role="tab"
                                    th:href="@{/lk/questionnaire-answer-result}" th:text="#{page.lk.submenu.question}">Результаты
                Ваших голосований</a></li>

            <li class="nav-item"><a aria-selected="false" class="nav-link"
                                    role="tab" th:href="@{/lk/show-flats}"
                                    th:text="#{page.lk.submenu.scheme}">Шахматка</a></li>

            <li class="nav-item"><a aria-selected="false" class="nav-link" role="tab"
                                    th:href="@{/lk/neighbors-message}"
                                    th:text="#{page.lk.submenu.message-to-neighbors}">Соседи</a></li>
        </ul>
    </div>

    <div>
        <!-- card-->
        <div class="card bd-0 br-pagebody">
            <div class="card-header tx-medium bd-0 tx-white bg-info">
                <p class="mg-b-0" th:text="#{page.lk.home.personalInfo}">Персональные данные</p>
            </div><!-- card-header -->
            <div class="card-body bd bd-t-0 rounded-bottom">
                <p class="card-text"
                   th:text="${contact.getLastName()} +' ' + ${contact.getFirstName()}+' '+ ${contact.getMiddleName()} ">
                    ...</p>
                <div th:each="communication : ${communications}">
                    <p th:text="${communication.getCommunicationType().getDescription()}+' : '+${communication.getIdentify()}+
                    ' ('+${communication.getDescription()}+')'">
                        ...</p>
            </div>

            </div><!-- card-body -->
        </div><!-- card -->
    </div>

    <div>
        <div class="card bd-0 br-pagebody">
            <div class="card-header tx-medium bd-0 tx-white bg-info">
                <p class="mg-b-0" th:text="#{page.lk.home.flats}">Квартиры</p>
            </div><!-- card-header -->
            <div class="card-body bd bd-t-0 rounded-bottom">
                <div th:each="flat , iter : ${flats}">
                    <p th:utext="${iter.index + 1 } + '. '+ #{page.lk.home.flats.shortHouse}+${flat.getHouseBuild()}+' '+#{page.lk.home.flats.shortFlat}+' '+ ${flat.getFlatNumber()} ">
                        ...</p>
            </div>
            </div><!-- card-body -->
        </div><!-- card -->
    </div>

    <div>
        <div class="card bd-0 br-pagebody">
            <div class="card-header tx-medium bd-0 tx-white bg-info">
                <p class="mg-b-0" th:text="#{page.lk.home.dataAboutOwnerships}">Данные для подсчёта веса голоса</p>
            </div><!-- card-header -->
            <div class="card-body bd bd-t-0 rounded-bottom">
                <div th:each="ownership,iter : ${ownerships}">
                    <div>
                        <p th:text="${iter.index+1} + '. '+ ${ownership.getSquare()} +' '+#{page.lk.home.sqm}+' ('+${ownership.getPercentageOfOwner()} +'%) '+ ${ownership.getOwnershipType().getDescription()}+ ' : '+#{page.lk.home.flats.shortHouse}+' '+${ownership.is_build_num()?ownership.getHouseBuildNum():ownership.getHouseNum()}
                    + ' № '+  ${ownership.is_build_num()?ownership.getBuildNumber():ownership.getNumber()}"></p>
                    </div>
                </div>
            </div><!-- card-body -->
        </div><!-- card -->
    </div>


    <p></p>

</div>

</body>
</html>