<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<header th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>ЖК "Город"</title>
</header>
<body>
<div th:fragment="body">
    <div class="d-sm-flex align-items-center pd-t-15 pd-sm-t-25 pd-x-20 pd-sm-x-30">
        <i class="icon ion-ios-filing-outline tx-70 lh-0 tx-gray-800"></i>
        <div class="pd-sm-l-20">
            <h4 class="tx-gray-800 mg-b-5">Добро пожаловать на сайт "ЖК Город"</h4>
            <p class="mg-b-0">сайт собственников недвижимости в ЖК Город</p>
        </div>
    </div><!-- d-flex -->

<div class="list-group menu-box">
    <a class="list-group-item list-group-item-action" th:href="@{/regQuestion/}">Голосование ОСС</a>
</div>

</div>
</body>
</html>