<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</header>

<body>
<div class="container card shadow-base" th:fragment="body">
    <div class="d-sm-flex align-items-center pd-t-15 pd-sm-t-25 pd-x-20 pd-sm-x-30 ">
        <i class="icon ion-android-contact tx-70 lh-0 tx-gray-800"></i>
        <div class="pd-sm-l-20">
            <h4 class="tx-gray-800 mg-b-5 card-title">Авторизация</h4>
            <p class="mg-b-0">вход для зарегистрированных пользователей</p>
        </div>
    </div><!-- d-flex -->

    <div class="padding-site">

        <form th:action="@{/authenticateTheUser}" method="POST" class="login-form">
            <div class="col-xs-15">
                <div>
                    <div th:if="${param.error} != null">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            Неверное имя пользователя или пароль!
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input class="form-control" id="inputLogin" name="username" type="text" value=""
                           placeholder="Логин">
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" id="inputPassword" name="password" type="password" value="">
                </div>
                <div class="form-group col-md-6">
                    <input class="form-check-input" id="inputRemember" name="remember-me" type="checkbox">
                    <label class="form-check-label" for="inputRemember">
                        Запомнить вход
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg">Войти</button>
            <a class="btn btn-outline-secondary btn-lg" role="button" th:href="@{/reg}">Регистрация</a>

        </form>
    </div>
</div>


</body>
</html>