<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</header>

<body>
<div class="card br-pagebody" th:fragment="body">

    <div th:replace="fragment/page-content::pageTitle
    (title='Авторизация',description='вход для зарегистрированных пользователей',iconClass='ion-android-contact') "/>


    <div class=" br-pagebody padding-site">

        <form class="login-form row-mgb-25" method="POST" th:action="@{/authenticateTheUser}">
            <div class="col-xs-15">
                <div>
                    <div th:if="${param.error} != null">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            Неверное имя пользователя или пароль!
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <label class="form-control-label"> Логин: <span class="tx-danger">*</span></label>
                    <input class="form-control" id="inputLogin" name="username" placeholder="Логин" type="text"
                           value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label"> Пароль : <span class="tx-danger">*</span></label>
                    <input class="form-control" id="inputPassword" name="password" type="password" value="">
                </div>
                <div class="form-group">
                    <input class="form-check-input" id="inputRemember" name="remember-me" type="checkbox">
                    <label class="form-check-label ckbox" for="inputRemember">Запомнить меня на этом устройстве</label>
                </div>
            </div>

            <button class="btn btn-info" type="submit">Войти</button>
            <a class="btn btn-success" role="button" th:href="@{/reg}">Регистрация</a>

        </form>
    </div>
    <br>
    <br>
    <br>

</div>


</body>
</html>