<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header>
    <th:block th:replace="~{fragment/header :: header}"/>
    <th:block th:replace="~{${content}::header}"/>
</header>


<body>

<!-- Start Preloader -->
<div class="preloader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!-- End Preloader -->


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(55880971, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
        trackHash: true
    });
</script>
<noscript>
    <div><img alt="" src="https://mc.yandex.ru/watch/55880971" style="position:absolute; left:-9999px;"/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


<!--  Left Panel -->
<th:block class="br-sideleft overflow-y-auto" th:replace="~{fragment/panel :: left}"/>

<!-- Header Panel -->
<th:block class="br-header" th:replace="~{fragment/panel :: top}"/>


<!-- Start Main Panel -->
<div class="br-mainpanel">

    <div class="card br-pagebody pd-t-30 pd-b-30">
        <th:block class="br-pagebody" th:replace="~{${content} :: main}">
            <!-- this is where your contents will be added -->
        </th:block>
    </div><!-- br-pagebody -->

    <!-- Footer Panel -->
    <th:block class="br-footer" th:replace="~{fragment/panel :: bottom}"/>

</div><!-- br-mainpanel -->
<!-- End Main Panel -->

</body>