<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/regboard.js}" type="text/javascript"></script>
    <title>Title</title>


</head>
<body>
<div th:each="porch: ${house.porchList}" class="porch" th:fragment="porch-view">
    <h2 th:text="${porch.description.porchID}+' подъезд'"></h2>
    <table>

        <tbody th:attr="data-porch-number=${porch.description.porchID}">
        <tr th:each="floor:${porch.floors}" th:attr="data-floor-number=${floor.number}">
            <td class="gk-floor-number" th:text="${floor.number}+' этаж'"></td>
            <td class="gk-flat-holder" th:attr="data-rizer-number=${iter}"
                th:each="iter: ${#numbers.sequence( 0, porch.description.flatCountOnFloor - 1)}">
                <div class="gk-flat" th:each="flat:${floor.flats}" th:attr="data-flat-id=${flat.uuid.toString()}"
                     th:if="${flat.riser==iter }">
                    <div class="gk-flat-number" th:text="${flat.flatNumber}"></div>
                    <div class="gk-flat-build-number" th:text="${flat.flatNumberBuild}"></div>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<div>
    <form th:action=" @{'/userRegister'}" th:object="${systemUser}" method="post">
        <div><label>Фамилия<input th:field="*{lastName}" placeholder="Иванов"></label>
            <div></div>
        </div>
        <div><label>Имя<input th:field="*{firstName}" placeholder="Иван"></label></div>
        <div><label>Отчество<input th:field="*{middleName}" placeholder="Иванович"></label></div>
        <div><label>Номер телефона<input th:field="*{phoneNumber}" placeholder="+7 999 123-45-67"></label></div>
        <div><label>Адрес электронной почты<input type="email" th:field="*{email}"></label></div>
        <div><label>Логин<input th:field="*{login}" placeholder="login"></label></div>
        <div><label>Пароль <input th:field="*{password}" type="password" placeholder="Very stRong paSS"></label></div>
        <div><label>Повтор пароля<input th:field="*{matchingPassword}" type="password"
                                        placeholder="Very stRong paSS"></label></div>
        <div><label>Номер Дома<input th:field="*{housingNumber}" readonly="readonly"></label></div>
        <div><label>Номер Подъезда<input th:field="*{porchNumber}" readonly="readonly"></label></div>
        <div><label>Номер Этажа<input th:field="*{floorNumber}" readonly="readonly"></label></div>
        <div><label>Номер Квартиры<input th:field="*{flatNumber}" readonly="readonly"></label></div>
        <div><label>Число комнат<select th:field="*{roomCount}">
            <option value="1">1 комната</option>
            <option value="2">2 комнаты</option>
            <option value="3">3 комнаты</option>
            <option value="4">4 комнаты</option>
        </select></label></div>
        <div><p>У меня есть место в подземном паркинге</p>
            <label><input type="radio" th:field="*{boughtParkingPlace}" value="true">Да</label>
            <label><input type="radio" th:field="*{boughtParkingPlace}" value="false" checked>Нет</label>
        </div>
        <div><p>Мне инересны</p>
            <ul>
                <li th:each="boxValue: ${interests}">
                    <input type="checkbox" th:field="*{interestedIn}" th:value="${boxValue}"><label
                        th:text="${boxValue}" th:for="${#ids.prev('interestedIn')}"></label>
                </li>
            </ul>
            <p>Дополнительные интересы</p>
            <textarea th:field="*{interestedIn}"></textarea>
        </div>
        <div><label><input type="checkbox" th:field="*{allowContactsSharing}" value="true">Я разрешаю делиться моими
            контактами с соседями</label>
        </div>
        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
</div>
</body>
</html>