<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .porch {
            display: inline-block;
            vertical-align: bottom;
        }
        .porch h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:each="porch: ${house.porchList}" class="porch">
    <h2 th:text="${porch.description.porchID}+' подъезд'"></h2>
    <div>
    <div th:attr="data-floor=${flat.floor}" th:attrappend="data-riser=${flat.riser}" th:text="${flat.flatNumber}" th:each="flat:${porch.flats}"></div>
    </div>
</div>
</body>
</html>