<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<!--<h2 th:text="#{mail.page.authentication.head}"/>-->
<h2>Опрос на сайте ЖК Город </h2>
<p><span>Здравствуйте,  </span><span th:text="${user} + '!'"/></p>
<p><span> Вы проголосовали на сайте ЖК Город, для подтверждение голосования перейдите по ссылке</span></p>
<p></p>
<p><a th:href="${password}"><span th:text="${password}"> ссылка</span> </a></p>
<p></p>


<!--<p><span th:text="#{mail.page.authentication.hi} + ' ' + ${user.getEmail()} + '!'"/></p>-->
<!--<p><span th:text="#{mail.page.authentication.password_message} + ' '"/><span th:text="${password}"/></p>-->
<!--Заготовка для уникальной ссылки-->
<!--<a th:href="@{letstalkbuddy.com/registration(id=${user.getId()})}">подтвердить e-mail</a>-->
</body>
</html>