<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="header">
    <script th:src="@{/js/editboard.js}" type="text/javascript"></script>
    <title>Просмотр/редактирование дома</title>
    </th:block>
</head>
<body>
<div th:fragment="main">
    <div th:replace="fragment/page-content::pageTitle
    (title='Просмотр и редактирование дома',description='',iconClass='icon ion-wrench') "/>


    <div th:replace="~{scheme/house-view::house-view}"></div>
<!--<div th:each="porch: ${house.porchList}" class="porch">
    <h2 th:text="${porch.description.porchID}+' подъезд'"></h2>
    <table border="1">

        <tbody>
        <tr th:each="floor:${porch.floors}">
            <td th:text="${floor.number}+' этаж'" style="font-style: italic; border: hidden"></td>
            <td class="gk-flat-holder" th:each="iter: ${#numbers.sequence( 0, porch.description.flatCountOnFloor - 1)}">
                <div class="gk-flat" th:each="flat:${floor.flats}" th:attr="data-flat-id=${flat.id}" th:if="${flat.riser==iter }">
                    <div class="gk-flat-number" th:text="${flat.flatNumber}" ></div>
                    <div class="gk-flat-build-number" th:text="${flat.flatNumberBuild}"></div>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>-->
<div><button id="edit">Редактирование</button>
<button id="stopEdit">Перестать редактировать</button></div>
<div>
 <textarea id="area"></textarea>
</div>
</div>

</body>
</html>